@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            background-color: #FFF7F1;
        }

        h1 {
            font-family: 'Poetsen One';
            font-size: 30pt;
            font-weight: 800;
            color: #D20062;
	    line-height: 1;
	    padding-top: 10px;
        }

        h2 {
            font-family: 'Poppins';
            font-size: 12pt;
            font-weight: 200;
            color: #E78895;
	    	line-height: 1.5;
        }

        h3 {
            font-family: 'Poppins';
            font-size: 12pt;
            font-weight: 200;
            color: #E78895;	
            margin-bottom: 30px; 
            margin-left: 40px;
            margin-right: 40px;
            line-height: 1.5;
        }

        .footer-section {
            background-color: #FFF7F1;
            padding-top: 25px;
	    	padding-bottom: 25px;
	   		 padding-left: 10px;
            padding-left: 10px;
            color: #D20062;
            font-size: 8pt;
            text-align: center;
	    line-height: 1.5;
		margin-top: 40px;
        }

       .button {
  background-color: #D20062;
  border: 0;
  margin: 20px; 
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button {
    padding: 16px 48px;
  }
}

        .container {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }

        #uploadBox {
            border-radius: 0;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            width: 150px;
            height: 200px;
            background-color: white;
            margin: 0 auto;
        }

        #capturedImage {
        	max-width: 100%;
        	max-height: 100%;
    	}


#result {
    color: white;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    background-color: #D20062;
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    }

.result-column {
    flex: 1 1 auto; /* Allow flex items to grow and shrink equally */
    margin: 0 10px; /* Adjust margin to create gaps between columns */
    padding: 0;
    margin-bottom: 20px;
    max-width: calc((100% - 40px - 20px) / 3); /* Adjust maximum width considering gaps */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    word-wrap: break-word;
    hyphens: auto;
}

.result-heading {
    font-family: 'Poetsen One';
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: #F9E6E9;
    line-height: 1;
    margin-top: 40px;
}

.result-text {
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    text-transform: lowercase;
}

        .action-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px; /* Add this to match the width of .container */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
}

	.try-again-text {
    font-family: 'Poppins';
    color: white;
    font-size: 16px;
    text-transform: none;
}
	    

