@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            background: rgb(255,255,255);
background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,247,241,1) 100%);
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }
    
        #uploadBox {
            border-radius: 15px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            width: 150px;
            height: 200px;
            background-color: #fff;
            margin: 0 auto;
            border: 2px solid #ffadcb;
        }
        #uploadBox img {
            max-width: 100%;
            max-height: 100%;
        }
        .button {
            background-color: #D20563;
            border: 0; 
            border-radius: 56px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 600;
            outline: 0;
            padding: 16px 21px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all .3s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            display: block;
            margin: 30px auto;
        }

        .button:before {
            background-color: initial;
            background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
            border-radius: 125px;
            content: "";
            height: 50%;
            left: 8%;
            opacity: .5;
            position: absolute;
            top: 0;
            transition: all .3s;
            width: 84%;
        }

        .button:hover {
            box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
            transform: scale(1.05);
        }
        .resultsbutton {
            background: #499C6E;
	    background: linear-gradient(0deg, rgba(190,1,89,1) 0%, rgba(210,0,98,1) 100%);;
            border: 0; 
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 800;
            outline: 0;
            padding: 16px 21px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all .3s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            display: block;
            margin: 10px auto;
            max-width: 1080px;
   	    width: 85%;
        }

        .resultsbutton:before {
            background-color: initial;
            content: "";
            height: 50%;
            left: 10%;
            opacity: .5;
            position: absolute;
            top: 0;
            transition: all .3s;
            width: 90%;
        }

        .resultsbutton:hover, .resultsbutton.playing {
        	box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
        	transform: scale(1.04);
    }

        /* New style to hide buttons initially */
        .hidden {
            display: none;
        }
        
        #loadingText {
            display: none;
            text-align: center;
            font-size: 18px;
            margin: 20px 0;
        }
        .sorry-message {
            display: none;
            text-align: center;
            font-size: 18px;
            margin: 20px 0;
            color: rgb(195,6,94);
            padding-left: 30px;
            padding-right: 30px;
        }

	.welcomeMessage {
            padding-left: 40px;
            padding-right: 40px;
            font-family: 'Short Stack', cursive;
            font-size: 16px;
            }
        
        .footer-section {
            padding-top: 25px;
	    	padding-bottom: 25px;
	   		 padding-left: 10px;
            padding-left: 10px;
            color: #D20062;
            font-size: 8pt;
            text-align: center;
	    line-height: 1.5;
		margin-top: 20px;
        }

	.speak-icon {
  	  width: 20px; /* Adjust the width as needed */
   	  height: auto;
  	  margin-left: 10px; /* Space between text and icon */
  	  vertical-align: middle; /* Align icon vertically with text */
	}

	.arrrow {
	   height: 5px;
	}
        

